node_modules
dist
tsconfig.build.tsbuildinfo
packages/*/node_modules
packages/*/dist
backoffice/node_modules
backoffice/build
backoffice/tsconfig.build.tsbuildinfo
packages/*/tsconfig.build.tsbuildinfo